  body {
    background-color: black;
  }
  div {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    text-align: center;
  }
  #motivation {
    border: 5px solid white;
    width: 100%;
  }
  h1 {
    color: white;
    text-transform: uppercase;
  }
  p {
    color: white;
  }
  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }

  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
